@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --creme : hsl(30, 38%, 92%);
    --white : hsl(0, 0%, 100%);
    --very-dark-blue : hsl(212, 21%, 14%);
    --dark-grayish-blue : hsl(228, 12%, 48%);
    --dark-cyan : hsl(158, 36%, 37%);
    --very-dark-cyan : hsl(156, 42%, 18%);
}

body {
    background-color: var(--creme);
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-rendering: optimizeSpeed;
}

.container {
    width: 600px;
    height: 450px;
    background-color: var(--white);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.img-perfume {
    width: 300px;
    height: 450px;
    display: none;
}

.img-perfume.desktop {
    display: block;
}

.description {
    margin: 35px 32px 30px 32px;
}

.description .type {
    letter-spacing: 4px;
}

.description .title {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
    line-height: 30px;
    margin: 25px 0;
}

.description .text, .type{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

.description .prices {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    gap: 20px;
}

.prices .discount {
    font-size: 2em;
    color: var(--dark-cyan);
}

.prices .full-price {
    font-size: 14px;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.btn-add-cart {
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-add-cart:hover {
    background-color: var(--very-dark-cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }